:root {
  /* Palette 15 */

  /* Primary */
  --blue-050: #dceefb;
  --blue-100: #b6e0fe;
  --blue-200: #84c5f4;
  --blue-300: #62b0e8;
  --blue-400: #4098d7;
  --blue-500: #2680c2;
  --blue-600: #186faf;
  --blue-700: #0f609b;
  --blue-800: #0a558c;
  --blue-900: #003e6b;

  /* Neutrals */
  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;

  /* Supporting */
  --teal-vivid-050: #f0fcf9;
  --teal-vivid-100: #c6f7e9;
  --teal-vivid-200: #8eedd1;
  --teal-vivid-300: #5fe3c0;
  --teal-vivid-400: #2dcca7;
  --teal-vivid-500: #17b897;
  --teal-vivid-600: #079a82;
  --teal-vivid-700: #048271;
  --teal-vivid-800: #016457;
  --teal-vivid-900: #004440;

  --red-050: #ffeeee;
  --red-100: #facdcd;
  --red-200: #f29b9b;
  --red-300: #e66a6a;
  --red-400: #d64545;
  --red-500: #ba2525;
  --red-600: #a61b1b;
  --red-700: #911111;
  --red-800: #780a0a;
  --red-900: #610404;

  --yellow-050: #fffaeb;
  --yellow-100: #fcefc7;
  --yellow-200: #f8e3a3;
  --yellow-300: #f9da8b;
  --yellow-400: #f7d070;
  --yellow-500: #e9b949;
  --yellow-600: #c99a2e;
  --yellow-700: #a27c1a;
  --yellow-800: #7c5e10;
  --yellow-900: #513c06;
}

/* Gradients */

.red-gradient {
  background: linear-gradient(
    to right,
    var(--red-050),
    var(--red-100),
    var(--red-200),
    var(--red-300),
    var(--red-400),
    var(--red-500),
    var(--red-600),
    var(--red-700),
    var(--red-800),
    var(--red-900)
  );
}

.yellow-gradient {
  background: linear-gradient(
    to right,
    var(--yellow-050),
    var(--yellow-100),
    var(--yellow-200),
    var(--yellow-300),
    var(--yellow-400),
    var(--yellow-500),
    var(--yellow-600),
    var(--yellow-700),
    var(--yellow-800),
    var(--yellow-900)
  );
}

.blue-gradient {
  background: linear-gradient(
    to right,
    var(--blue-050),
    var(--blue-100),
    var(--blue-200),
    var(--blue-300),
    var(--blue-400),
    var(--blue-500),
    var(--blue-600),
    var(--blue-700),
    var(--blue-800),
    var(--blue-900)
  );
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Header.css */

.weather-header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.weather-header h1 {
  margin: 0;
  font-size: 2.5em;
}

.weather-header p {
  margin: 5px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Basic Reset and Typography */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--blue-grey-050);
  color: var(--blue-grey-900);
}

/* Global Components */

h1,
h2,
h3 {
  margin: 0 0 1rem;
}

hr {
  border: 0;
  height: 1px;
  background: var(--blue-grey-300);
  margin: 1rem 0;
}

.field {
  margin: 0; /* Reset default margin */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* These two lines center the children */
  background-color: var(--background-color);
}

/* Header */

.header-logo {
  width: 100px;
  height: 100px;
}
.weather-header {
  background-color: var(--blue-600);
  color: var(--blue-grey-050);
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid var(--blue-700);
  width: 90%;
  min-width: 400px;
  max-width: 800px;
  border-radius: 5px;
  margin: 10px;
}

.weather-header h1 {
  color: var(--blue-grey-050);
  margin-bottom: 0.5rem;
}

/* Error message */

.error {
  text-align: center;
  color: var(--red-500);
  margin: 2rem;
}

/* ShowWeather */

.showWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: var(--blue-grey-900);
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.weather_main {
  padding: 1rem;
  border-radius: 10px;
}

.weather_heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--blue-grey-900);
}

.weather_heading span {
  font-size: 1.2rem;
  color: var(--blue-grey-700);
}

.temp {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: var(--blue-700);
}

.weatherData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-top: 1rem;
}

.weatherData p {
  flex: 1;
  text-align: center;
  background-color: var(--blue-grey-600);
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--blue-800);
}

.break-after {
  display: block;
  margin-bottom: 1em;
}

/*Input Form */
.inputForm {
  display: flex;
  flex-direction: row; /* Stack elements vertically */
  justify-content: center; /* Center elements horizontally */
  align-items: center; /* Center elements horizontally */
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light box shadow for depth */
  margin: 10px;
  min-width: 400px;
}

.inputForm label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.inputForm input {
  width: 900%;
  max-width: 300px; /* Maximum width to ensure it doesn't get too wide */
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset; /* Inner shadow for a slight inset effect */
  transition: box-shadow 0.3s ease; /* Transition for smooth hover effect */
}

.inputForm input:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.inputForm button.input_btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #007bff; /* Change this to your preferred button color */
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition for smooth hover effect */
  /* Center the button */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.inputForm button.input_btn:hover {
  background-color: #0056b3; /* Slightly darker shade for hover */
}

/* Base styling */
.showWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: var(--blue-grey-900);
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  min-width: 300px;
}

.weather_header {
  margin-bottom: 20px;
}

.temperature_section,
.weather_data,
.sunrise_sunset {
  display: flex;
  flex-direction: column; /* stack elements vertically */
  align-items: center; /* center items horizontally */
  width: 100%;
  margin-bottom: 20px;
}

.temp_celsius,
.temp_fahrenheit {
  text-align: center;
  margin-bottom: 10px; /* Add some bottom margin to separate from the next element */
}

.no-data {
  text-align: center;
  color: var(--red-050);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: var(--red-500);
}

/* Media queries */

/* Add these at the bottom of your existing CSS */

/* For wide screens */
@media (min-width: 1600px) {
  .weather-header,
  .inputForm,
  .showWeather {
    width: 800px;
  }
}

/* For narrow screens */
@media (max-width: 375px) {
  .weather-header,
  .inputForm,
  .showWeather {
    width: 100%;
  }
}

/* For larger screens */
@media (min-width: 650px) {
  .showWeather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .temperature_section,
  .weather_data,
  .sunrise_sunset {
    grid-column: span 1;
  }
  .weather_header {
    grid-column: span 2;
  }
}
